* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.carousel .carousel-item {
    height: 40vh;
  }
  
  .carousel-item img{
    height: 40vh;
}
.title{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
h4{
    padding-bottom: 2rem;
}
.content{
    border: 1px solid rgb(141, 141, 200);
    margin: 1rem 3rem 1rem 3rem;
    padding: 3rem;
}
.text{
    /* padding: 2rem; */
    font-size:larger;
}

.link-to:hover {
    text-decoration: none;
    color: white;
}
.carousel-control-prev-icon{
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

.arrow {
	position: absolute;
	top: 50%;
	width: 2vmin;
	height: 2vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}
.left {
	left: 5rem;
	transform: translate3d(0,-50%,0) rotate(-135deg);
}

.right {
	right: 5rem;
	transform: translate3d(0,-50%,0) rotate(45deg);
}
	
.arrow:hover {
	border-color: orange;
	box-shadow: 0.5vmin -0.5vmin 0 white;
}