.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.row-contents {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge silver;
  min-height: 400px;
}

.footer {
  background-color: #344955;
  margin: 0px auto;
  padding: 20px 0px 0px 0px;
  width: 100vw;
  color: aliceblue;
}

.jumbotron {
  padding: 70px 30px;
  margin: 0px auto;
  border-radius: 0px;
  background-color: rgb(23, 3, 58);
  color: aliceblue;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: aliceblue;
}

.copyright {
  font-size: 75%;
  margin-top: 5%;
}

.text-center a {
  margin: 1% 2%;
}

.container {
  padding-bottom: 2rem;
}

.carousel {
  width: 100vw;
}

.carousel-indicators {
  z-index: 4;
}

.footer-link-color {
  color: aliceblue;
}